.default-page {
  position: relative;
  text-align: center;
  padding: 30px;
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}


.light {
  background-color: #fff;
}

.cropper-modal {
    opacity: 1;
    background-color: transparent;
}

.cropper-bg {
  background-image: none;
}

.desktop-app {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: #EEF1F6;

  &__section {
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: center;

    &__main {
      width: 400px;
      position: relative;
      margin: 10px;
      background-color: #79589F;
      box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__crop {
        position: absolute;
        left: 0;
        top: 98px;
        height: 300px;
        width: 400px;
      }

      &__copyright {
        color: #fff;
        font-size: 12px;
        text-align: center;
      }

    }
  }
}
