.game-lesson {
  justify-content: space-between;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;

  &__btns {
    display: flex;
    flex: 1;
    justify-content: space-around;
  }

  h1 {
    font-size: 48px;
    font-weight: bold;
  }

  &__question {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__img {
      height: 60px;
    }

    &__title {
      font-weight: normal;
      font-size: 38px;
    }
  }
}

.user-response {
  height: 100px;
  justify-content: center;
  display: flex;
  border-radius: 3px;
  background-color: #ccc;
  align-items: center;
}

.user-alternatives {
  display: flex;
  justify-content: space-around;

  &__item {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 3px;
    background-color: #ccc;

    canvas {
      border-radius: 3px;
      width: 100%;
    }

    span {
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      color: #79589F;
      font-size: 26px;
    }
  }
}

.answer-wrong {
  .game-lesson {
    h1, h2 {
      color: #b80f0a;
    }
  }
}

.answer-right {
  .game-lesson {
    h1, h2 {
      color: #00A86B;
    }
  }
}

.emogis {
  font-size: 42px;
}
