.game {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &__section {
    width: 400px;
    position: relative;
    margin: 10px;
    background-color: #eee;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    min-height: 440px;

    &__player {
      width: 100%;
    }

    &__header {
      background-color: #79589F;
      align-self: stretch;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      height: 98px;

      h1 {
        font-size: 38px;
        color: #fff;
        font-weight: 400;
      }
    }
  }
}

.answer-wrong {
  .game__section__header {
    background-color: #b80f0a;
  }
}

.answer-right {
  .game__section__header {
    background-color: #00A86B;
  }
}
