.training {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;

  &__img {
    width: 100px;
    align-self: center;
  }
}

.training-loading {
  align-self: center;
  position: relative;
}
