.button {
  font-size: 18px;
  color: #fff;
  height: auto;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.25);
  background-color: #79589F;
  border-radius: 5px;
  margin-top: 30px;
  padding: 7px 20px;
  display: inline-block;
  border: none;
  cursor: pointer;
  align-self: stretch;
}

.confirm {
  background-color: #00A86B;
}

.cancel {
  background-color: #b80f0a;
}
